{% extends 'base.html' %}
{% block title %}
github-profile-picture
{%endblock title%}
 
{%block body%}
<style>
  .searchBar{
    width: 100%;
    height: 50px;
    
  }
  #search_input {
	background-color: rgb(0, 3, 15);
	margin: 10px 0 0 0;
	float: right;
	padding: 5px;
	color: aliceblue;
	border-radius: 5px;
}
  .custombtn{
    float: right;
    margin: 10px .2% 0 0;
    background-color: #0c1753 !important;
  }
  .refresh{
    float: right;
    margin: 10px 31% 0 0;
    background-color: #294820 !important;
  }
</style>
<div class="searchBar">
  <form action="" method="get">
    <a href="{% url 'profile' %}" class="btn btn-primary refresh">Refresh</a>
    <button class="btn btn-primary text-light custombtn">Search</button>
    <input type="text" name="query" id="search_input" size="30" placeholder="Search by @gitusername or @creator">
  </form>
</div>

<h1 class="text-center">Github User's profile picture List</h1>
 <br>
<div class="d-flex flex-wrap justify-content-center">
    {% for data in data %}
    <div class="card mx-2 mb-4" style="width: 18rem;">
        <img src="{{data.githubuserimage}}" class="card-img-top" alt="Avater">
        <div class="card-body">
          <h5 class="card-title">Github : {{data.githubuser}}</h5>
          <p class="card-text">Posted By : {{data.username}}</p>
          <a href="https://github.com/{{data.githubuser}}" target="_blank" class="btn btn-primary">View Profile</a>
        </div>
      </div>
    {% endfor %}
</div>


{% endblock body %}